.mess-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}

.message-sent {
  background-color: #d1e7dd; // Example background color for sent messages
  align-self: flex-end;
}

.message-received {
  background-color: #f8d7da; // Example background color for received messages
  align-self: flex-start;
}

.message-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message-content {
  max-width: 70%;
}

.message-content p {
  margin: 0;
}
.chat_mess {
  // display: none;
}
