/* Main.scss */
.slider-container {
  position: absolute; /* Để đặt các nút mũi tên bên trong */
  width: 700px;
  margin: 0 auto; /* Để căn giữa container */
  top: 0;

  .w_slider {
    width: 100%; /* Đảm bảo slider chiếm hết chiều rộng của container */

    .slider-image {
      width: 150px;
      height: 300px;
      display: block;
      object-fit: cover;
      border-radius: 13px;
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 1);
      }
    }
  }

  /* Các mũi tên tùy chỉnh */
  .custom-prev,
  .custom-next {
    position: absolute;
    top: 5%;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-prev {
    left: 10px;
  }

  .custom-next {
    right: 10px;
  }

  .custom-prev:hover,
  .custom-next:hover {
    background-color: #bbb;
  }
  .slick-list {
    margin-right: -43px;
  }
  .news {
    position: absolute;
    width: 150px;
    background-color: #ffffff;
    margin-top: -44px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    span {
      text-align: center;
    }
    .icon {
      position: absolute;
      top: -19px;
      /* z-index: 999; */
      background: #fff;
      border-radius: 50%;
    }
  }
  .news_name {
    position: absolute;
    width: 150px;
    padding: 10px 20px;
    margin-top: -51px;
    padding: 0px 20px;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    span {
      color: #ffffff;
      font-weight: 700;
    }
  }
  .content_status {
    background: #ffffff;
    border-radius: 5px;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    .bottom_text {
      border-bottom: 1px solid #626262;
      margin: auto;
      padding: 10px;
    }
    .image_status {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
    .post {
      .post_image {
        border-radius: 50%;
      }
    }
    .hover_icon {
      .laugh-icon {
        background: #fff;
        z-index: 10;
        margin-top: -59px;
        padding: 10px;
        border-radius: 10px;
        visibility: hidden;
      }
      &:hover .laugh-icon {
        visibility: visible;
      }
      .icon-animation {
        opacity: 0;
        transform: translateY(20px); /* Di chuyển icon ban đầu */
        animation: iconAnimation 0.6s forwards;
      }

      .icon-animation:nth-child(1) {
        animation-delay: 0.1s;
      }

      .icon-animation:nth-child(2) {
        animation-delay: 0.2s;
      }

      .icon-animation:nth-child(3) {
        animation-delay: 0.3s;
      }

      .icon-animation:nth-child(4) {
        animation-delay: 0.4s;
      }

      .icon-animation:nth-child(5) {
        animation-delay: 0.5s;
      }

      .icon-animation:nth-child(6) {
        animation-delay: 0.6s;
      }

      .icon-animation:nth-child(7) {
        animation-delay: 0.7s;
      }

      @keyframes iconAnimation {
        0% {
          opacity: 0;
          transform: translateY(20px) scale(0.9);
        }
        50% {
          opacity: 0.7;
          transform: translateY(-10px) scale(1.1);
        }
        100% {
          opacity: 1;
          transform: translateY(0) scale(1);
        }
      }

      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    }
  }
  // @media (min-width: 200px) and (max-width: 460px) {
  //   .content_status {
  //     width: 50%;
  //     //  max-width: none;
  //     margin-right: -70px;
  //   }
  // }

  @media (max-width: 575px) {
    .slick-list {
      position: relative;
      right: -10%;
    }
    .content_status {
      width: 70%;
      //  max-width: none;
      margin-right: -90px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .content_status {
      margin-left: 70px;
      max-width: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .content_status {
      width: 100% !important;
      max-width: none;
    }
  }
}
