/* Main.scss */
.slider-container {
  position: absolute; /* Để đặt các nút mũi tên bên trong */
  width: 700px;
  margin: 0 auto; /* Để căn giữa container */
  top: 0;

  .w_slider {
    width: 100%; /* Đảm bảo slider chiếm hết chiều rộng của container */

    .slider-image {
      width: 150px;
      height: 300px;
      display: block;
      object-fit: cover;
      border-radius: 13px;
      transition: box-shadow 0.3s ease;
      &:hover {
        box-shadow: inset 0 0 15px rgba(0, 0, 0, 1);
      }
    }
  }

  /* Các mũi tên tùy chỉnh */
  .custom-prev,
  .custom-next {
    position: absolute;
    top: 34%;
    width: 30px;
    height: 30px;
    background-color: #ddd;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 18px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-prev {
    left: 10px;
  }

  .custom-next {
    right: 10px;
  }

  .custom-prev:hover,
  .custom-next:hover {
    background-color: #bbb;
  }
  .slick-list {
    margin-right: -43px;
  }
  .news {
    position: absolute;
    width: 150px;
    background-color: #ffffff;
    margin-top: -44px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    span {
      text-align: center;
    }
    .icon {
      position: absolute;
      top: -19px;
      /* z-index: 999; */
      background: #fff;
      border-radius: 50%;
    }
  }
  .news_name {
    position: absolute;
    width: 150px;
    padding: 10px 20px;
    margin-top: -51px;
    padding: 0px 20px;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    span {
      color: #ffffff;
      font-weight: 700;
    }
  }
  .content_status {
    background: #ffffff;
    border-radius: 5px;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    .bottom_text {
      border-bottom: 1px solid #626262;
      margin: auto;
      padding: 10px;
    }
    .image_status {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  @media (max-width: 575px) {
    .content_status {
      margin-left: 160px;
      max-width: none;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .content_status {
      margin-left: 70px;
      max-width: none;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .content_status {
      width: 100% !important;
      max-width: none;
    }
  }
}
