.input-icon {
  padding-right: 70px;
}
.blue-rounder {
  position: relative;
  top: -15px;
}
.blue-rounder::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 100%;
  top: 7px;
  background-color: blue;
  right: 10px;
}
.mess_text {
  position: absolute;
  top: 59px;
  background-color: #fff;
  z-index: 9;
  border-radius: 5px;
  width: 350px;
  height: 100%;
  height: 90vh;
  right: 25px;
}
