@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --web-site: #f0f2f5;
  --fb-logo: #3078ec;
  --text-black: #000;
  --text-white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dark-mode {
  background-color: var(--text-black);
}
.light-mode {
  background-color: var(--web-site);
}
body {
  overflow-y: visible !important;
  height: auto;
  font-family: "Helvetica Neue", Arial, sans-serif;

  .App {
    .dark-mode {
      background-color: var(--text-black);
    }
    .light-mode {
      background-color: #fff;
    }
    .Header-content {
      position: fixed;
      right: 0;
      left: 0;
      // z-index: 2;
      position: fixed;
      z-index: 99;
      width: 100%;
      height: 56px;
      top: 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .left {
      width: 360px;
      height: 100vh;
    }
    .right {
      width: 360px;
      height: 100vh;
    }

    .content {
      width: 100%;
      /* padding: 0; */
      /* margin: 0; */
      position: absolute;
      display: flex;
      justify-content: space-between;
      margin-top: 67px;
    }
  }

  @media (max-width: 800px) {
    .left {
      display: none;
    }
    .right {
    }
  }
  @media only screen and (min-width: 801px) and (max-width: 1024px) {
    .left {
      display: none;
    }
    .right {
      // display: none;
    }
  }
}
